---
classes: 
  - quire-essay
layout: base.11ty.js
description: Thing layout. This layout is a copy of essay.liquid, except that it adds owners to the pageHeader and a .thing-info grid.
---

{% pageHeader
  byline_format=byline_format,
  image=image,
  label=label,
  pageContributors=pageContributors,
  object=object,
  subtitle=subtitle,
  title=title
%}

<section class="section quire-page__content thing-info">
  <div class="container">
    <div class="content">
      <div class='thing-info-grid'>
        <div class='thing-type'>
        {% if object[0].type %}
          <p>Type of Object</p>
          <ul data-outputs-exclude="epub,pdf">{% for i in object[0].type %}<li><a href="/contents/?type={{ i | url_encode | replace: "+", "%2520" }}">{{ i }}</a></li>{% endfor %}</ul>
          <ul data-outputs-exclude="html">{% for i in object[0].type %}<li>{{ i }}</li>{% endfor %}</ul>
        {% endif %}
        </div>
        <div class='thing-theme'>
        {% if object[0].theme %}
          <p>Theme</p>
          <ul data-outputs-exclude="epub,pdf">{% for i in object[0].theme %}<li><a href="/contents/?theme={{ i | url_encode | replace: "+", "%2520" }}">{{ i }}</a></li>{% endfor %}</ul>
          <ul data-outputs-exclude="html">{% for i in object[0].theme %}<li>{{ i }}</li>{% endfor %}</ul>
        {% endif %}
        </div>
        <div class='thing-material'>
        {% if object[0].material %}
          <p>Material</p>
          <ul data-outputs-exclude="epub,pdf">{% for i in object[0].material %}<li><a href="/contents/?material={{ i | url_encode | replace: "+", "%2520" }}">{{ i }}</a></li>{% endfor %}</ul>
          <ul data-outputs-exclude="html">{% for i in object[0].material %}<li>{{ i }}</li>{% endfor %}</ul>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section quire-page__content">
  {% if abstract %}
    {% abstract abstract=abstract %}
  {% endif %}
  <div class="container">
    <div class="content">
      {{ content }}
      {% bibliography citations %}
    </div>
    {% pageButtons pagination=pagination %}
  </div>
</section>
